* {
    margin: 0%;
    padding: 0%;
    box-sizing: border-box;
}
h1{
    color: #fff;
}
h2{
    color: #fff;
}
body {
    background-image: url(Imagenes/background.png);
    background-repeat: no-repeat;
    background-size: cover;
}
header {
    display: flex;
    background-color: #01352C;
    color: #fff;
    padding: 20px;
    text-align: center;
    border-radius: 10px;
    justify-content: space-evenly;
}
.search-container {
    display: inline-flex;
    align-items: center;
    background-color: #61B390;
    padding: 10px;
    border-radius: 10px;
}
.search-container input[type="text"] {
    width: 100%;
    padding: 8px;
    border: none;
    border-radius: 5px;
    outline: none;
    background-color: #61B390;
}
.button1 {
    padding: 10px 20px;
    color: #fff;
    background-color: #BAD8B6;
    opacity: 60%;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    margin: 20px;
}
.button2 {
    padding: 10px 20px;
    background-color: #BAD8B6;
    color: #000000;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    margin: 20px;
}
.scooter-container {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    gap: 20px;
    padding: 160px;
}

.scooter-card {
    background-color: #BAD8B6;
    border-radius: 4px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    overflow: hidden;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px;
}
.scooter-card img {
    max-width: 100%;
    height: auto;
    margin-bottom: 16px;
}

.rent-button {
    background-color: #00695c;
    color: #fff;
    padding: 8px 12px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    margin-top: 16px;
}
#popup {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: #01352C;
    opacity: 98%;   
    padding: 20px;
    border: 0px solid #ccc;
}
.popup-content {
    text-align: center;
    color: #fff;
    flex-direction: column;
    width: auto;
    height: auto;
}
.contenedor {
    width: auto;
    height: auto; 
    border: 0px solid #BAD8B6;
    background-color: #BAD8B6;
    padding: 10px;
    border-radius: 10px;
    
}

.close {
    cursor: pointer;
    float: right;
    font-size: 30px;
}
form {
    margin-top: 20px;
}
form label {
    display: flex;
    margin-bottom: 5px;
}
form input[type="text"],
form input[type="email"],
form textarea {
    width: 100%;
    color: black;
    padding: 8px;
    margin-bottom: 10px;
    background-color: #BAD8B6;
    box-sizing: border-box;
    border: 1px solid #ccc;
    border-radius: 4px;
}
form button {
    background-color: #4CAF50;
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}
form button:hover {
    background-color: #45a049;
}
.container {
    position: relative;
    width: auto; 
    margin-bottom: 20px; 
}

.container label {
    position: absolute;
    left: 7px; 
    top: 40%; 
    transform: translateY(-50%); 
    color: white; 
    pointer-events: none;
}

.container input[type="text"] {
    width: 100%; /* Hace que la caja de texto ocupe todo el ancho */
    padding: 8px; /* Ajusta el padding para que el texto no esté pegado al borde */
    box-sizing: border-box; /* Incluye el padding en el ancho total */
}
